/* IMPORT FONTS */
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/Pistilli-Roman.woff2);
  font-family: Pistilli-Roman;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-eras-midnight;
}

input {
  @apply outline-none;
}
